.article-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 2;
}

@media only screen and (max-width: 736px) {
  .article-container {
    order: 2;
    overflow: initial;
    flex-grow: initial;
  }
}