.social-media-icons {
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

.social-media-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 736px) {
  .social-media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .social-media-wrapper {
    width: 50%;
  }
}