.right-side-bar {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.welcome-quip {
  font-size: xx-large;
  margin: 20px 0px 5px 0px;
}

.intro-message {
  margin-bottom: 40px;
}

@media only screen and (max-width: 736px) {
  .right-side-bar {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    order: 1;
    flex-grow: initial;
    flex-shrink: 0;
  }

  .intro-message {
    margin-bottom: 10px;
  }
}