.right-side-bar {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#intro-message {
  margin-top: 0px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 736px) {
  .right-side-bar {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-grow: initial;
    flex-shrink: 0;
  }

  #intro-message {
    margin-bottom: 20px;
  }
}